
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* - - - browser resets - - - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #525252;
    scroll-behavior: smooth;
}

main{
    width: 100%;
}


/* - - - hero section styling - - - */
#hero {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                     url("../images/pexels-timcompound-3608967.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 30%;
}

header .logo h1 {
    font-size: 2vw;
    color: #fff;
}

header .logo span {
    color: #607c8c
}
header nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
header nav ul li{
    color: #fff;
    font-size: 1vw;
    margin: 0 1.5%;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero .hero-content {
    padding-top: 7%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

#hero .hero-content .text {
    width: 50%;
    padding-left: 5%;
}

#hero .hero-content .text h2 {
    color: #fff;
    font-size: 5vw;
}

#hero .hero-content .text button {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.1vw solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.2vw);
    outline: none;
    color: #fff;
    font-size: 0.9vw;
    padding: 2% 5%;
    border-radius: 0.3vw;
    margin-top: 5%;
}

#hero .hero-content .login {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

#hero .hero-content .login form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0.7vw;
    padding: 15% 10%; 
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.2));
    border: 0.1vw solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5vw);
}

#hero .hero-content .login form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 7% 0;
}

#hero .hero-content .login form label span {
    text-align: left;
    color: #fff;
    font-size: 0.8vw;
    padding: 4% 0;
}

#hero .hero-content .login form label input {
    width: 100%;
    background-color: transparent;
    font-size: 0.8vw;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 0.1vw solid #fff;
}

#hero .hero-content .login form label input:focus {
    background-color: transparent;
}

#hero .hero-content .login form .button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#hero .hero-content .login form .button-container input[type=submit] {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.1vw solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.01vw);
    outline: none;
    color: #fff;
    font-size: 0.8vw;
    padding: 4% 10%;
    border-radius: 0.4vw;
    margin-top: 10%;
}

#hero .hero-content .login form p {
    color: #fff;
    font-size: 0.75vw;
    margin-top: 10%;
}

#hero .hero-content .login form p span {
    color: #fff;
    text-decoration: underline;
}

/* this is jays code */
.section3 {
background: #607C8C;
background-size: cover;
color: #ffff;
line-height: 2.3vh;
margin: 0;
height: 65vh;
width: 100%;
}

.section3 img{
    float: right;
    margin-right: 10%;
    height: 80vh;
    margin-top: -5%;  
}

.section3 h1{
    margin-left: 10%;
    margin-top: 5%;
}

#button {
    
    width: 7%;
    height: 7%;
    color: #FFFFFF75;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.46); 
}

.section2 {
background-color: #607C8C;
width: 100%;
height: 60vh;
left: 0px;
top: 3144px;
color: #ffff;



}
.section2 p{
    line-height: 2.2vw;

}

/* ...Mungai's code... */
/* ...styling heading-1 of class container-1 */
#heading-1{
    position: absolute;
    width: 397px;
    height: 53px;
    left: 125px;
    top: 1115px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    color: #607C8C
}

/* ...styling par-1 of class container-1 */
#par-1{
    position: absolute;
    width: 501px;
    height: 156px;
    left: 124px;
    top: 1178px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    color: #525252;
}

/* ...styling image-1... */
#image-1 {
    position: absolute;
    width: 321px;
    height: 273px;
    left: 720px;
    top: 1115px;
    border-radius: 20px;
}

/* ...styling image-2... */
#image-2 {
    position: absolute;
    width: 321px;
    height: 220px;
    left: 720px;
    top: 1404px;
    border-radius: 20px;
}

/* ...styling image-3... */
#image-3 {
    position: absolute;
    width: 289px;
    height: 509px;
    left: 1056px;
    top: 1115px;
    border-radius: 20px; 
}

/* ...styling heading-2  */
#heading-2{
    position: absolute;
    width: 472px;
    height: 53px;
    left: 125px;
    top: 1402px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    color: #607C8C
}

/* ...styling paragraph 2 of class container-1... */
#par-2{
    position: absolute;
    width: 501px;
    height: 156px;
    left: 124px;
    top: 1465px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    color: #525252;
}

/* ...styling heading-3... */
#heading-3{
    position: absolute;
    width: 794px;
    height: 108px;
    left: 323px;
    top: 2576px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #607C8C
}

/* ...styling heading-4 of class row... */
#heading-4{
    position: absolute;
    width: 344px;
    height: 53px;
    left: 124px;
    top: 2708px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #607C8C
}

/* ...styling par-3 of class row... */
#par-3{
    position: absolute;
    width: 345px;
    height: 120px;
    left: 125px;
    top: 2779px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #525252;
}

/* ...styling heading-5 of class row... */
#heading-5{
    position: absolute;
    width: 344px;
    height: 53px;
    left: 576px;
    top: 2702px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #607C8C
}

/* ...styling par-4 of class row... */
#par-4{
    position: absolute;
    width: 345px;
    height: 120px;
    left: 547px;
    top: 2780px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #525252;
}

/* ...styling heading-6 of class row... */
#heading-6{
    position: absolute;
    width: 344px;
    height: 53.27px;
    left: 970px;
    top: 2706px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #607C8C
}

/* ...styling par-5 of class row... */
#par-5{
    position: absolute;
    width: 345px;
    height: 120.62px;
    left: 969px;
    top: 2779.38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #525252;
}

/* ...styling icon1... */
#icon1{
    position: absolute;
    left: -1.25px;
    right: 2.56%;
    width: 49.97px;
    height: 50px;
    top: 5.91px;
    bottom: 0%;
    background: #607C8C;
}

/* ...styling icon1... */
#icon2{
    position: absolute;
    left: 7.03%;
    right: 20.51%;
    width: 36.23px;
    height: 38.18px;
    top: 5.91px;
    bottom: 11.82%;
    background: #607C8C;
}

/* ...styling icon2... */
#icon3{
    position: absolute;
    left: 0%;
    right: 0%;
    width: 50px;
    height: 40px;
    top: 5.91px;
    bottom: 0%;
    background: #607C8C;
}

